[Unit]
Description=UniSuite API
After=network.target

[Service]
WorkingDirectory=/var/unisuite-api
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
RestartSec=10

ExecStartPre=/usr/bin/npm install
ExecStart=/bin/bash start-api.sh

StandardOutput=journal
StandardError=journal
SyslogIdentifier=usapi

[Install]
WantedBy=multi-user.target
